
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
/* Navigation - Alle Seiten */
header{

   color:white;

}

main{
    margin-top:30px;
    padding-bottom:15px;
}
#Logo{
    text-align:center;
}
#logo{
    width:100%;
    max-width:160px;
  
}
#Produkten:hover{
    background-color: steelblue;
}
.sub{
    display:none;
    
    
}
#Produkten a{
    text-decoration:none;
    color:white;
}

#Produkten a:hover{
    
    color:white;
    text-decoration: underline;
}

#Produkten:hover  .sub{
    display:unset;
}



#grid{
    display:grid;
    grid-template-areas:"h1 h2 h3 h4 h5 h6 h7 h8 h9 h10";
    background-color: steelblue;
    height:60px;
    margin-top:20px;
    text-align:center;
}




#Home{
    grid-area: h8;
}
#Produkten{
    grid-area: h9;
}
#Warenkorb{
    grid-area: h10;
    margin-top:10px;
}

.line{
    line-height:60px;
    vertical-align: middle;
    text-align:center;
    z-index:2;
    width:127.48px;
    border-radius:10px;
}
.center{

    display:flex;
    justify-content: center;
    align-items:center
}

/* CSS Startseite */
#title1{
    font-family: 'Roboto', sans-serif;
    color:steelblue;
    text-align: center;
    font-weight: bold;
    padding:20px;
    z-index: 1;
}

.Bike{

    width:100%;
    max-width:250px;
}
.BikeW{

    width:100%;
    max-width:150px;
}
.ProduktBike{
    width:100%;
    max-width:500px;
}
.BikeName{
  
    text-align:center;
    width:100%;
    max-width:250px;
    padding-top: 20px;
    padding-bottom:20px;

}

.flex{
    display:flex;
}

.space{
    border:1px solid rgb(209, 209, 209);
    border-radius: 10px;
    padding:20px;
    z-index:100;
}

.space:hover{
    border:1px solid black;
}

#grid1{
    display:grid;
    grid-template-columns: auto auto;
    grid-column-gap:50px;
    margin-top:20px;
}
#grid1 a{
    text-decoration: none;
    color:black;
}
/* CSS Produkt1 und Produkt2*/
.grid2{
    display:grid;
    grid-template-columns: auto auto;
    grid-column-gap:50px;
    margin-top:30px;
}

.btn{
    padding:15px 40px 15px 40px;
    background-color: rgb(51, 98, 136);
    border:none;
    border-radius:10px;
}

.btn:hover{
    background:steelblue
}
.btn a{
    text-decoration:none;
    color:white;
     
}

.description{
    width:100%;
    max-width:800px;
    margin-top:50px;
}
.description{
    color:steelblue
}
.description h4{
    color:grey
}

#warenkorb{
    width:100%;
    max-width:70px;
}


/*CSS Warenkorb */

#grid4{
    display:grid;
    grid-template-areas:"a1 a2 a3 a4 a5"
                        "b1 b2 b3 b4 b5"
                        "hr hr hr hr hr"
                        "c1 c2 c3 c4 c5";
                        grid-column-gap:100px;
                        grid-row-gap:50px;
                        text-align:center;
                      
}

#hr{
    grid-area:hr;
}
#Photo{
    grid-area:b1;
}
#stk1{
    grid-area:b2;
}

#Menge{
    grid-area:b3;
    text-align:center;
}
#Löschen{
    grid-area:b4;
    text-align:center;
}
#Gesamt{
    grid-area:b5;
    text-align:center;
}
#Photo2{
    grid-area:c1;
}

#Löschen2{
    grid-area:c4;
    text-align:center;
}
#stk2{
    grid-area:c2;
    text-align:center;
}
#Gesamt2{
    grid-area:c5;
    text-align:center;
}
#ARTIKEL{
    grid-area:a1;
}
#STK{
    grid-area:a2;
}
#MENGE{
    grid-area:a3;
}
#LÖSCHEN{
    grid-area:a4;
}
#GESAMT{
    grid-area:a5;
}
#grid5{

    display:grid;
    grid-template-areas:"g1 g2"
                           "i1 i1"
                             "s1 s2"
                             ;

  margin-top:50px;

}

#ZSume{

    grid-area:g1;
}
#Versand{

    grid-area:g2;
}
#Versand h2{
    line-height: 90px;
    vertical-align: middle;
}
#GSume{

    grid-area:s1;
}
#Sume{

    grid-area:s2;
}

#bt2{
    background-color:red ;
    
}
#bt2 h4{
   color:white;
    
}

#bt2 h4:hover{
   text-decoration: underline;
     
 }



  
